<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    {{>local_css}}
</head>
<body id="page-top">
{{>nav}}
<div class="container-fluid bg-black text-white">
{{>header}}
<p class="display-1 text-center p-5 m-5">{{errorMessage}}</p>
{{>footer}}
</div>
{{>local_js}}
</body>
</html>