<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        {{>local_css}}
    </head>
    <body>
        {{>nav}}
        {{>header}}
        <section id="about" class="about-section text-center">
            <div class="container">
                <img src="/img/robot.png" class="img-thumbnail" alt="" style="height: 250px">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Justin Adams</h2>
                        <p class="text-white-50">
                            This Nodejs Weather app was created from an Udemy tutorial. The app uses two different apis MapBox and Darksky.
                            With the use of these apis the app is able to get current weather data of a provided location defined by the users
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="versions" class="p-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center text-center">
                        <h3>Previous Version</h3>
                        <p class="lead">
                            Checkout the previous version of this application
                        </p>
                        <a href="https://adams-weather-app-web-origin.herokuapp.com/" class="btn btn-primary btn-lg"
                        >Live View</a
                        >
                        <a href="https://github.com/adamsjlcode/nodejs-weather-app-master" class="btn btn-primary btn-lg"
                        >View Code</a
                        >
                    </div>
                        <div class="col-md-6 align-self-center text-center">
                            <h3>Current Version</h3>
                            <p class="lead">
                                This version of the weather app expanded Bootstrap, added Swagger Docs, added Font
                                Awesome icons, and a lot more. Check this version code below.
                            </p>
                            <a href="https://github.com/adamsjlcode/nodejs-weather-app-v2" class="btn btn-primary btn-lg"
                            >View Code</a
                            >
                        </div>
                </div>
            </div>
        </section>
        <section id="component" class="components-section bg-light">
            <div class="container">

                <!-- Component Nodejs Row -->
                <div class="row align-items-center justify-content-center no-gutters mb-4 mb-lg-5"
                     style=" text-align: center; height: 20%">
                    <div class="col-xl-6 col-lg-6">
                        <i class="fab fa-node fa-9x"></i>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-center text-lg-left">
                            <h4>NodeJs</h4>
                            <p class="text-black-50 mb-0">As an asynchronous event-driven JavaScript runtime,
                                Node.js is designed to build scalable network applications.</p>
                        </div>
                    </div>
                </div>

                <!-- Component Bootstrap Row -->
                <div class="row align-items-center justify-content-center no-gutters mb-5 mb-lg-0"
                     style=" text-align: center; height: 20%">
                    <div class="col-lg-6">
                        <i class="fab fa-bootstrap fa-9x"></i>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Bootstrap</h4>
                                    <p class="mb-0 text-white-50">Build responsive, mobile-first projects on the web
                                        with the world’s most popular front-end component library.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Component Udemy Row -->
                <div class="row align-items-center justify-content-center no-gutters mb-5 mb-lg-0"
                     style=" text-align: center; height: 20%">
                    <div class="col-lg-6">
                        <i class="fad fa-chalkboard-teacher fa-9x" style="--fa-secondary-color: #64a19d;"></i>
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Udemy</h4>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-10">
                                            <p class="mb-0 text-white-50">The Complete Node.js Developer Course (3rd
                                                Edition)
                                                Learn Node.js by building real-world applications with Node,
                                                Express, MongoDB, Jest, and more!
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/"
                                               class="fad fa-external-link fa-3x"
                                               style="--fa-secondary-color: #64a19d;"></a>
                                        </div>
                                    </div>
                                    <hr class="d-none d-lg-block mb-0 mr-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Component Font Awesome Row -->
                <div class="row align-items-center justify-content-center no-gutters mt-5 mb-4 mb-lg-5"
                     style=" text-align: center; height: 20%">
                    <div class="col-xl-6 col-lg-6">
                        <i class="fad fa-flag fa-9x" style="--fa-secondary-color: #64a19d;"></i>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Font Awesome</h4>
                            <p class="text-black-50 mb-0">Get vector icons and social logos on your website with
                                Font Awesome, the web's most popular icon set and toolkit.</p>
                        </div>
                    </div>
                </div>

                <!-- Component Grayscale Row -->
                <div class="row align-items-center justify-content-center no-gutters mb-5 mb-lg-0"
                     style=" text-align: center; height: 20%">
                    <div class="col-lg-6">
                        <i class="fad fa-sitemap fa-9x" style="--fa-secondary-color: #4f837f;"></i>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Grayscale</h4>
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-10">
                                            <p class="mb-0 text-white-50">Grayscale is open source and MIT licensed.
                                                This means you can use it for any project - even commercial
                                                projects! Download it, customize it, and publish your website!</p>
                                        </div>
                                        <div class="col-2">
                                            <a href="https://themeflood.com/preview/rwskinz/imported-themes/grayscale/"
                                               class="fad fa-external-link fa-3x"
                                               style="--fa-secondary-color: #64a19d;"></a>
                                        </div>
                                    </div>
                                    <hr class="d-none d-lg-block mb-0 ml-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Component MapBox Row -->
                <div class="row align-items-center justify-content-center no-gutters mb-5 mb-lg-0"
                     style=" text-align: center; height: 20%">
                    <div class="col-lg-6">
                        <i class="fad fa-rss fa-9x" style="--fa-secondary-color: #4f837f;"></i>
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">MapBox</h4>
                                    <p class="mb-0 text-white-50">Maps and location for developers Precise location
                                        data and powerful developer tools to change the way we navigate the
                                        world.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Component DarkSky Row -->
                <div class="row align-items-center justify-content-center no-gutters mb-5 mb-lg-0"
                     style=" text-align: center; height: 20%">
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">DarkSky</h4>
                                    <p class="mb-0 text-white-50">The Dark Sky API allows you to look up the weather
                                        anywhere on the globe</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-sm-first">
                        <i class="fad fa-rss fa-9x" style="--fa-secondary-color: #4f837f;"></i>
                    </div>
                </div>
            </div>
        </section>

        {{>footer}}
        {{>local_js}}
    </body>
</html>