<footer class="bg-black small text-center text-white-50">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="social d-flex justify-content-center">
                    <a href="http://www.justinadamsportfolio.com" class="mx-2">
                        <i class="fad fa-browser fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/justin-adams-532389155/" class="mx-2">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://www.facebook.com/justin.adams.31392" class="mx-2">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a href="https://github.com/adamsjlcode" class="mx-2">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-12">
                Copyright &copy; JustinAdamsPortfolio 2018
            </div>
        </div>
    </div>
</footer>